USE [master]
GO
/****** Object:  Database [Account]    Script Date: 16/10/2017 8:58:19 CH ******/
CREATE DATABASE [Account]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Account', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Account.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Account_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Account_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Account].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Account]
GO
USE [Account]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 16/10/2017 8:58:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[_user] [varchar](100) NULL,
	[_pass] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblAccount] ON 

INSERT [dbo].[tblAccount] ([id], [_user], [_pass]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[tblAccount] ([id], [_user], [_pass]) VALUES (2, N'vnnet', N'vnnet')
INSERT [dbo].[tblAccount] ([id], [_user], [_pass]) VALUES (3, N'vi', N'vi')
SET IDENTITY_INSERT [dbo].[tblAccount] OFF
USE [master]
GO
