USE [master]
GO
/****** Object:  Database [BooksDB]    Script Date: 16/10/2017 8:59:23 CH ******/
CREATE DATABASE [BooksDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BooksDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BooksDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BooksDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BooksDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BooksDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BooksDB]
GO
USE [BooksDB]
GO
/****** Object:  Table [dbo].[tblbook]    Script Date: 16/10/2017 8:59:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblbook](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](200) NULL,
	[author] [nvarchar](200) NULL,
	[price] [float] NULL,
	[image] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblbook] ON 

INSERT [dbo].[tblbook] ([id], [title], [description], [author], [price], [image]) VALUES (1, N'Book1', N'Des', N'au1', 12, N'1.jpg')
INSERT [dbo].[tblbook] ([id], [title], [description], [author], [price], [image]) VALUES (4, N'Book2', N'Des2', N'Au1', 21, N'1.jpg')
INSERT [dbo].[tblbook] ([id], [title], [description], [author], [price], [image]) VALUES (1002, N'Book4', N'Des4', N'au4', 120, N'1.jpg')
SET IDENTITY_INSERT [dbo].[tblbook] OFF
USE [master]
GO
