USE [master]
GO
/****** Object:  Database [DBExamDetail]    Script Date: 16/10/2017 8:57:22 CH ******/
CREATE DATABASE [DBExamDetail]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBExamDetail', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DBExamDetail.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBExamDetail_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DBExamDetail_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBExamDetail].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBExamDetail]
GO
USE [DBExamDetail]
GO
/****** Object:  Table [dbo].[tblExam]    Script Date: 16/10/2017 8:57:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExam](
	[examcode] [varchar](100) NOT NULL,
	[date] [varchar](200) NULL,
	[duration] [varchar](200) NULL,
	[faculty] [varchar](200) NULL,
	[subject] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[examcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tblExam] ([examcode], [date], [duration], [faculty], [subject]) VALUES (N'ex1', N'2017-26-9', N'120', N'f2', N's2')
USE [master]
GO
