USE [master]
GO
/****** Object:  Database [EJBDB]    Script Date: 16/10/2017 9:00:12 CH ******/
CREATE DATABASE [EJBDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EJBDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EJBDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EJBDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EJBDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EJBDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EJBDB]
GO
USE [EJBDB]
GO
/****** Object:  Table [dbo].[tblContact]    Script Date: 16/10/2017 9:00:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[phone] [varchar](100) NULL,
	[gender] [varchar](100) NULL,
	[email] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblContact] ON 

INSERT [dbo].[tblContact] ([id], [name], [phone], [gender], [email]) VALUES (2, N'Duc', N'0123456789', N'Male', N'nguyen@gmail.com')
INSERT [dbo].[tblContact] ([id], [name], [phone], [gender], [email]) VALUES (5, N'Duc', N'0123456789', N'Male', N'nguyen@gmail.com')
INSERT [dbo].[tblContact] ([id], [name], [phone], [gender], [email]) VALUES (11, N'Ngoc', N'0123456789', N'Female', N'ngoc@gmail.com')
SET IDENTITY_INSERT [dbo].[tblContact] OFF
USE [master]
GO
